# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.python-version

# VS Code settings
.vscode/

# Test/report files
# Test/report files
*.log
*.pytest_cache/
.cache/
.coverage
htmlcov/
.tox/
.ruff_cache/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE files
.idea/
*.iml